@charset "utf-8";

header, footer {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Times New Roman', serif;
}
  

@media screen and (max-width: 1000px) {
  body {
    width: 1000px;
  }
}

p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 25px;
    font-weight: 300;
    word-wrap: break-word;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 16px;
    margin-bottom: 20px;
}
  
  p:hover{
    transform: scale(1,1) translateY(-13px);
  }

  .backgound-image{
    background-image: url("bg3.jpg");
    background-size:cover;
    height: 400px;
    padding-top: 1px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color:black;
  }

 